# Resend API Configuration
# Get your API key from the Resend Dashboard (https://resend.com)
RESEND_API_KEY=re_EEEhBkwo_BbuMa41rrYUTzQsvrAwhiC3B

# The Gmail address where you want to receive the contact form submissions
TO_EMAIL=raijatin2006@gmail.com
